<%= form_for([@game, @playing], url: game_players_path(@game, @player)) do |f| %>
<% if @playing.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@game.errors.count, "error") %> prohibited this playing from being saved:</h2>

  <ul>
    <% @playing.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="main">
<div class='whitebackgroundsmall'>
    <div class="field">
      <%= f.label :user_id %>
      <%= f.collection_select :user_id, User.all.reject {|user| @game.players.include? user}, :id, :username %>
      </br>
      <%= f.button "Add Player", :class => 'newgamebutton'%>
      </br>
      <% end %>
    <a class='newgamebutton' href=<%= game_path(@game) %>>Back</a><br>
    </div>
  </div>
</div>