<% if @game.aasm_state == 'setup' %>
<div class='main2'>

  <div class="whitebackground">

   <b><p>Game name: <%= @game.name %></p></b>
   <b>Players:</b>
   <br>
   <% @game.players.each do |player| %>
   <%= player.username %>
   <br>
   <% end %>
   <a class='newgamebutton' href=<%= new_game_player_path(@game) %>>Add Player</a><br>
   <%= link_to "Start Game", start_game_path(@game) , method: :put, :class => 'newgamebutton'%>

 </div>

</div>

<% else %>

<% @game.turn_check %>
<% @game.time_check %>

<div class='game_menu'>

  <div class='announcements'>
    <img class='announcementspic' src="/announcementsborder.png">
    <div class='announcement_text'>
      <b>Announcements!</b>
    </div>
  </div>

  <div class='fleet_list'>
    <% @fleets.each do |fleet|%>
    <div class='fleet'>
      Fleet number:<%=fleet.id%>


    </div>
    <% end %>

    <%= render partial: 'moves/new' %>

  </div>

</div>

<div class='game'>
  <img class='gamepic' src="/gamebackgroundcolours.png">
  <div class='London1'>

  </div>
  <div class="London2"></div>
  <div class='London3'></div>
  <div class="London4"></div>
  <div class='London5'></div>
  <div class="London6"></div>
  <div class='London7'></div>
  <div class="London8">
    <img class='fleet' src="/shipblack.png">
  </div>

  <div class='York1'></div>
  <div class="York2"></div>
  <div class='York3'></div>
  <div class="York4"></div>
  <div class='York5'></div>
  <div class="York6"></div>
  <div class='York7'></div>
  <div class="York8">
    <img class='fleet' src="/shipblack.png">
  </div>

  <div class='Leeds1'></div>
  <div class="Leeds2"></div>
  <div class='Leeds3'></div>
  <div class="Leeds4"></div>
  <div class='Leeds5'></div>
  <div class="Leeds6"></div>
  <div class='Leeds7'></div>
  <div class="Leeds8">
    <img class='fleet' src="/shipblack.png">
  </div>

  <div class='Newcastle1'></div>
  <div class="Newcastle2"></div>
  <div class='Newcastle3'></div>
  <div class="Newcastle4"></div>
  <div class='Newcastle5'></div>
  <div class="Newcastle6"></div>
  <div class='Newcastle7'></div>
  <div class="Newcastle8">
    <img class='fleet' src="/shipblack.png">
  </div>

  <div class='Birmingham1'></div>
  <div class="Birmingham2"></div>
  <div class='Birmingham3'></div>
  <div class="Birmingham4"></div>
  <div class='Birmingham5'></div>
  <div class="Birmingham6"></div>
  <div class='Birmingham7'></div>
  <div class="Birmingham8">
    <img class='fleet' src="/shipblack.png">
  </div>

  <div class='Liverpool1'></div>
  <div class="Liverpool2"></div>
  <div class='Liverpool3'></div>
  <div class="Liverpool4"></div>
  <div class='Liverpool5'></div>
  <div class="Liverpool6"></div>
  <div class='Liverpool7'></div>
  <div class="Liverpool8"></div>

  <div class='Manchester1'></div>
  <div class="Manchester2"></div>
  <div class='Manchester3'></div>
  <div class="Manchester4"></div>
  <div class='Manchester5'></div>
  <div class="Manchester6"></div>
  <div class='Manchester7'></div>
  <div class="Manchester8"></div>

  <div class='Southampton1'></div>
  <div class="Southampton2"></div>
  <div class='Southampton3'></div>
  <div class="Southampton4"></div>
  <div class='Southampton5'></div>
  <div class="Southampton6"></div>
  <div class='Southampton7'></div>
  <div class="Southampton8"></div>

  <div class='Sheffield1'></div>
  <div class="Sheffield2"></div>
  <div class='Sheffield3'></div>
  <div class="Sheffield4"></div>
  <div class='Sheffield5'></div>
  <div class="Sheffield6"></div>
  <div class='Sheffield7'></div>
  <div class="Sheffield8"></div>

  <div class='Oxford1'></div>
  <div class="Oxford2"></div>
  <div class='Oxford3'></div>
  <div class="Oxford4"></div>
  <div class='Oxford5'></div>
  <div class="Oxford6"></div>
  <div class='Oxford7'></div>
  <div class="Oxford8"></div>

  <div class='Cardiff1'></div>
  <div class="Cardiff2"></div>
  <div class='Cardiff3'></div>
  <div class="Cardiff4"></div>
  <div class='Cardiff5'></div>
  <div class="Cardiff6"></div>
  <div class='Cardiff7'></div>
  <div class="Cardiff8"></div>

  <div class='Edinburgh1'></div>
  <div class="Edinburgh2"></div>
  <div class='Edinburgh3'></div>
  <div class="Edinburgh4"></div>
  <div class='Edinburgh5'></div>
  <div class="Edinburgh6"></div>
  <div class='Edinburgh7'></div>
  <div class="Edinburgh8"></div>

  <div class='Aberdeen1'></div>
  <div class="Aberdeen2"></div>
  <div class='Aberdeen3'></div>
  <div class="Aberdeen4"></div>
  <div class='Aberdeen5'></div>
  <div class="Aberdeen6"></div>
  <div class='Aberdeen7'></div>
  <div class="Aberdeen8"></div>

  <div class='Glasgow1'></div>
  <div class="Glasgow2"></div>
  <div class='Glasgow3'></div>
  <div class="Glasgow4"></div>
  <div class='Glasgow5'></div>
  <div class="Glasgow6"></div>
  <div class='Glasgow7'></div>
  <div class="Glasgow8"></div>

  <div class='Dublin1'></div>
  <div class="Dublin2"></div>
  <div class='Dublin3'></div>
  <div class="Dublin4"></div>
  <div class='Dublin5'></div>
  <div class="Dublin6"></div>
  <div class='Dublin7'></div>
  <div class="Dublin8"></div>

  <div class='Cork1'></div>
  <div class="Cork2"></div>
  <div class='Cork3'></div>
  <div class="Cork4"></div>
  <div class='Cork5'></div>
  <div class="Cork6"></div>
  <div class='Cork7'></div>
  <div class="Cork8"></div>

  <div class='Limmerick1'></div>
  <div class="Limmerick2"></div>
  <div class='Limmerick3'></div>
  <div class="Limmerick4"></div>
  <div class='Limmerick5'></div>
  <div class="Limmerick6"></div>
  <div class='Limmerick7'></div>
  <div class="Limmerick8"></div>
  <div class='Limmerick9'></div>
  <div class="Limmerick10"></div>
  <div class='Limmerick11'></div>
  <div class="Limmerick12"></div>
  <div class='Limmerick13'></div>
  <div class="Limmerick14"></div>
  <div class='Limmerick15'></div>
  <div class="Limmerick16"></div>
  <div class='Limmerick17'></div>
  <div class="Limmerick18"></div>

  <div class='Belfast1'></div>
  <div class="Belfast2"></div>
  <div class='Belfast3'></div>
  <div class="Belfast4"></div>
  <div class='Belfast5'></div>
  <div class="Belfast6"></div>
  <div class='Belfast7'></div>
  <div class="Belfast8"></div>
  <div class='Belfast9'></div>
  <div class="Belfast10"></div>
  <div class='Belfast11'></div>
  <div class="Belfast12"></div>
  <div class='Belfast13'></div>
  <div class="Belfast14"></div>
  <div class='Belfast15'></div>
  <div class="Belfast16"></div>
  <div class='Belfast17'></div>
  <div class="Belfast18"></div>

  <div class="sea19"></div>
  <div class="sea20"></div>
  <div class="sea21"></div>
  <div class="sea22"></div>
  <div class="sea23"></div>
  <div class="sea24"></div>
  <div class="sea25"></div>
  <div class="sea26"></div>
  <div class="sea27"></div>
  <div class="sea28"></div>

  <div class="sea29"></div>
  <div class="sea30"></div>
  <div class="sea31"></div>
  <div class="sea32"></div>
  <div class="sea33"></div>
  <div class="sea34"></div>
  <div class="sea35"></div>
  <div class="sea36"></div>
  <div class="sea37"></div>
  <div class="sea38"></div>

  <div class="sea39"></div>
  <div class="sea40"></div>
  <div class="sea41"></div>
  <div class="sea42"></div>
  <div class="sea43"></div>
  <div class="sea44"></div>
  <div class="sea45"></div>
  <div class="sea46"></div>
  <div class="sea47"></div>
  <div class="sea48"></div>

  <div class="sea49"></div>
  <div class="sea50"></div>
  <div class="sea51"></div>
  <div class="sea52"></div>
  <div class="sea53"></div>
  <div class="sea54"></div>
  <div class="sea55"></div>
  <div class="sea56"></div>
  <div class="sea57"></div>
  <div class="sea58"></div>

  <div class="sea59"></div>
  <div class="sea60"></div>
  <div class="sea61"></div>
  <div class="sea62"></div>
  <div class="sea63"></div>
  <div class="sea64"></div>
  <div class="sea65"></div>
  <div class="sea66"></div>
  <div class="sea67"></div>
  <div class="sea68"></div>

  <div class="sea69"></div>
  <div class="sea70"></div>
  <div class="sea71"></div>
  <div class="sea72"></div>
  <div class="sea73"></div>
  <div class="sea74"></div>
  <div class="sea75"></div>
  <div class="sea76"></div>
  <div class="sea77"></div>
  <div class="sea78"></div>

</div>
<% end %>