<% if @game.aasm_state == 'setup' %>
<div class='main2'>

  <div class="whitebackground">

   <b><p>Game name: <%= @game.name %></p></b>
   <b>Players:</b>
   <br>
   <% @game.players.each do |player| %>
   <%= player.username %>
   <br>
   <% end %>
   <a class='newgamebutton' href=<%= new_game_player_path(@game) %>>Add Player</a><br>
   <%= link_to "Start Game", start_game_path(@game) , method: :put, :class => 'newgamebutton'%>

 </div>

</div>

<% else %>

<% @game.turn_check %>
<% @game.time_check %>

<div class='game_menu'>
  <div class='announcements'>
    <img class='announcementspic' src="/announcementsborder.png">
    <div class='announcement_text'>
      <b>Announcements!</b>
      <%= @start_time %>
      <%= @game.turn_number %>
      <%= @game.provinces %>
    </div>
  </div>

  <div class='fleet'>
    Example fleet 1
    <%= button_to 'attack', move_attack_path, method: :post %>
    <%= button_to 'defend', move_attack_path, method: :post %>
    <%= button_to 'support', move_attack_path, method: :post %>
  </div>

</div>
<div class='game'>
  <img class='gamepic' src="/gamebackgroundcolours.png">
<!--   <img class='announcementspic' src="/gameborder.png"> -->

</div>
<% end %>