<% if @game.aasm_state == 'setup' %>
<div class='main2'>

  <div class="whitebackground">

   <b><p>Game name: <%= @game.name %></p></b>
   <b>Players:</b>
   <br>
   <% @game.players.each do |player| %>
   <%= player.username %>
   <br>
   <% end %>
   <a class='newgamebutton' href=<%= new_game_player_path(@game) %>>Add Player</a><br>
   <%= link_to "Start Game", start_game_path(@game) , method: :put, :class => 'newgamebutton'%>

 </div>

</div>

<% else %>

<% @game.turn_check %>
<% @game.time_check %>

<div class='game_menu'>

  <div class='announcements'>
    <img class='announcementspic' src="/announcementsborder.png">
    <div class='announcement_text'>
      <b>Announcements!</b>
    </div>
  </div>

  <div class='fleet_list'>
    Your fleets, sir:
    <% @fleets.each do |fleet|%>
    <div class='fleet'>
      Fleet number:<%=fleet.id%>
    </div>
    <% end %>
  </div>

  <div class='moves_new'>
    <%= render partial: 'moves/new' %>
    <%= render partial: 'moves/show' %>
  </div>

</div>

<div class='game'>
  <img class='gamepic' src="/gamebackgroundcolours.png">  

  <% @game.provinces.each do |province| %>
  <% classes = [] %>
  <% province_div_id = province.island? ? province.name : "sea#{province.province_template_id}" %>
  <% playing = province.playing %>
  <% position = playing.position if playing %>
  <% classes << "Team#{position}" if position %>


  <div id="<%= province_div_id %>" class="province <%= classes.join %>">

    <% if province.fleet && province.fleet.alive == true %>
    <% playing = province.fleet.try(:playing) %>
    <% position = playing.position if playing %>
    <img class='fleetpic' src="/ship<%=position%>.png" title="<%= province.fleet.id %>">  
    <% end %>

  </div>
  <% end %>
</div>




<% end %>